%%----------------------------------------------------------------------------
%%                               Albuild Config
%%----------------------------------------------------------------------------

%% config version
{v, 1}.

%% project build config
{proj.type, al_erlang}.
{deps.build, [jsx]}.