%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{deps, [{meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {lhttpc, ".*", {git, "git://github.com/talko/lhttpc", "master"}}
       ]}.
