%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{deps, [{covertool, "", {git, "https://github.com/idubrov/covertool.git", "master"}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {lhttpc, ".*", {git, "git://github.com/talko/lhttpc", "master"}}
       ]}.

{plugins, [rebar_covertool]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{ct_extra_params, "-ct_hooks cth_surefire"}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.
