%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts,
 [debug_info,
  {platform_define, "^19.|^2", 'ERLANG_OTP_VERSION_19'},
  strict_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.

{deps, [
        {jsx, "2.11.0"},
        {lhttpc, "1.6.2"},
        {eini, "1.2.9"},
        {base16, "1.0.0"}
       ]}.

{overrides,
 [
  %% do not pull in the covertool plugin or repo, cause it fetches rebar and
  %% breaks rebar3!
  {override, eini, [{plugins, []},{deps, []}]}
 ]}.


{profiles, [
            {test, [{deps, [{meck, "0.9.0"}]}, {erl_opts, [warnings_as_errors]}]}
           ,{warnings, [{erl_opts, [warnings_as_errors]}]}
           ]}.

{post_hooks, [{clean, "rm -f .dialyzer_plt"}]}.

{pre_hooks, [{clean, "rm -rf erl_crash.dump *.log"}]}.
